# ==== GUI ====
PyQt6==6.6.1

# ==== База данных ====
SQLAlchemy==2.0.29

# ==== Безопасность ====
bcrypt==4.1.2

# ==== Экспорт отчётов ====
openpyxl==3.1.2
reportlab==4.1.0

# ==== Графики ====
matplotlib==3.8.4

# ==== Тесты (dev) ====
pytest==8.1.1
pytest-cov==5.0.0

# ==== Сборка (dev) ====
pyinstaller==6.6.0
